<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl" {{ end }}>

<head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
    <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ if or (eq .Lang "ar") (eq .Lang "fa") }}
    {{ "<!-- RTL -->" | safeHTML }}
    {{ $styleRtl := resources.Get "css/style.rtl.css" | resources.Fingerprint }}
    <link href="{{ $styleRtl.Permalink }}" rel="stylesheet" {{ if not .Site.Params.disable_sri }} integrity="{{ $styleRtl.Data.Integrity }}" crossorigin="anonymous" {{ end }}>
    {{ else }}
    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    {{ $style := resources.Get "css/style.css" | resources.Fingerprint }}
    <link href="{{ $style.Permalink }}" rel="stylesheet" {{ if not .Site.Params.disable_sri }} integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" {{ end }}>
    {{ end }}

    {{ "<!-- minified Font Awesome for SVG icons -->" | safeHTML }}
    {{ $fontawesome := resources.Get "js/fontawesome.min.js" | resources.Fingerprint }}
    <script defer src="{{ $fontawesome.Permalink }}" integrity="{{ $fontawesome.Data.Integrity }}" crossorigin="anonymous"></script>

    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{- with .Site.Params.plausible_site_domain -}}
    <script async defer data-domain="{{ . }}" src="https://plausible.io/js/plausible.js"></script>
    {{ end }}

    {{ partial "head-custom.html" . }}
</head>

<body>

    {{ block "masthead" . }}
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <img src="https://glimesh.tv/images/logos/logo-alpha.png" class="d-inline-block align-top" alt="Glimesh | Alpha" height="34">
        </a>
        <div class="collapse navbar-collapse" id="primaryNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ if .IsHome }}active{{ end }}">
                    <a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}">Posts</a>
                </li>
                {{- $currentPage := . -}}
                {{ range .Site.Menus.navbar }}
                {{ $menuURL := .URL | absLangURL }}
                <li class="nav-item">
                    <a class="nav-link{{ if or ($currentPage.IsMenuCurrent "navbar" .) ($currentPage.HasMenuCurrent "navbar" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://glimesh.tv/">Back to Glimesh.tv</a>
                </li>
            </ul>
        </div>
    </nav>
    {{ end }}

    {{ block "body" . }}
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-8 blog-main">

                {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
                {{ end }}

            </div> {{ "<!-- /.blog-main -->" | safeHTML }}

            {{ partial "sidebar.html" . }}

        </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}
    {{ end }}

    {{ block "footer" . }}
    <footer class="mt-4">
        <section class="footer-social pt-2 pb-2">
            <div class="container">
                <div class="btn-group btn-block" role="group" aria-label="Glimesh Socials">
                    <a href="https://twitter.com/Glimesh" class="btn btn-default"><i class="fab fa-twitter-square fa-3x"></i></a>
                    <a href="https://discord.gg/Glimesh" class="btn btn-default"><i class="fab fa-discord fa-3x"></i></a>
                    <a href="https://facebook.com/Glimesh" class="btn btn-default"><i class="fab fa-facebook-square fa-3x"></i></a>
                    <a href="https://instagram.com/Glimesh" class="btn btn-default"><i class="fab fa-instagram-square fa-3x"></i></a>
                    <a href="https://reddit.com/r/Glimesh" class="btn btn-default"><i class="fab fa-reddit-square fa-3x"></i></a>
                    <a href="https://github.com/Glimesh" class="btn btn-default"><i class="fab fa-github-square fa-3x"></i></a>
                </div>
            </div>
        </section>
        <section class="footer-end pt-5 pb-4">
            <p class="text-center mb-0">
                Copyright © 2021 Glimesh, Inc. All rights reserved.<br>
                <a href="https://glimesh.tv/about/terms">Terms of Service</a> |
                <a href="https://glimesh.tv/about/conduct">Rules of Conduct</a> |
                <a href="https://glimesh.tv/about/privacy">Privacy &amp; Cookie Policy</a>
            </p>
        </section>
    </footer>
    {{ end }}

</body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}